.w-item{
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
    margin: 0;
    float: left;
    width: 20%;
    padding: 5px;
    height: 390px;
    box-sizing: border-box;
}
.w-item:hover{
    box-shadow: 0 0 20px grey;
    transform: scale(1.001);
}
.danhmucsanpham a{
    color: black;
}

.danhmucsanpham li{
    padding: 8px 7px;
    line-height: 1.5;
    list-style: none;
    font-size: 14px;
    float: left;
    margin: 0 5px 0;
    border-radius: 5px;
    border: 1px solid gray;
    height: 40px;
    box-shadow: 0 0 1px gray;
}

.danhmucsanpham .filter1 li{
    margin-top: 30px;
    margin-bottom: 5px;
}

.danhmucsanpham .filter2 li{
    margin-top: 5px;
    margin-bottom: 30px;
}
.danhmucsanpham .filter3 li{
    float: left;
    margin-top: 5px;
    margin-bottom: 30px;
}
.filter2{
    width: 100%;
}
.filter3{
    width: 100%;
}
.danhmucsanpham .filter li:hover{
    border: 1px solid orangered;
}
.danhmucsanpham .filter li:hover a{
    color: orangered;
    transform: scale(1.001);
}
#line-filter{
    border: none;
}
#line-filter a{
    color: red;
}
#price-filter{
    border: none;
}
#price-filter a{
    color: red;
}
.brand{
    margin-bottom: 40px;
}





.new .deal-main{
    background-color: black;
    padding: 0;
    border-radius: 5px;
}
.new{
    margin-bottom: 30px;
}

.nav ul li{
    position: relative;
}
.nav ul li ul{
    display: none;
    position: absolute;
    z-index: 10;              /*in nổi phần tử */
    background-color: dimgray;
    left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav ul li:hover ul{
    display: block;
}
.nav ul li ul li:hover a{
    color: red;
}